In [1]:
import pandas as pd
import numpy as np

In [2]:
dataframe = pd.read_csv("prediksiCuaca.csv")

In [3]:
dataframe

            date  precipitation  temp_max  temp_min  wind  weather
0       1/1/2012            0.0      12.8       5.0   4.7  drizzle
1       1/2/2012           10.9      10.6       2.8   4.5     rain
2       1/3/2012            0.8      11.7       7.2   2.3     rain
3       1/4/2012           20.3      12.2       5.6   4.7     rain
4       1/5/2012            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  12/27/2015            8.6       4.4       1.7   2.9     rain
1457  12/28/2015            1.5       5.0       1.7   1.3     rain
1458  12/29/2015            0.0       7.2       0.6   2.6      fog
1459  12/30/2015            0.0       5.6      -1.0   3.4      sun
1460  12/31/2015            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [4]:
dataframe.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [5]:
x=dataframe.iloc[:,1:5]

In [6]:
dataframe['prediksi'] = 1

In [7]:
for i in range(len(dataframe)):
    if dataframe.loc[i,'weather']== 'drizzle':
        dataframe.loc[i,'prediksi']=1
    elif dataframe.loc[i,'weather']== 'rain':
        dataframe.loc[i,'prediksi']=2
    elif dataframe.loc[i,'weather']== 'sun':
        dataframe.loc[i,'prediksi']=3
    elif dataframe.loc[i,'weather']== 'fog':
        dataframe.loc[i,'prediksi']=4
    elif dataframe.loc[i,'weather']== 'snow':
        dataframe.loc[i,'prediksi']=5
        
        dataframe['prediksi']=dataframe['prediksi'].astype(int)

In [8]:
### astype() digunakan untuk mengubah ke tipe data

In [9]:
dataframe

            date  precipitation  temp_max  temp_min  wind  weather  prediksi
0       1/1/2012            0.0      12.8       5.0   4.7  drizzle         1
1       1/2/2012           10.9      10.6       2.8   4.5     rain         2
2       1/3/2012            0.8      11.7       7.2   2.3     rain         2
3       1/4/2012           20.3      12.2       5.6   4.7     rain         2
4       1/5/2012            1.3       8.9       2.8   6.1     rain         2
...          ...            ...       ...       ...   ...      ...       ...
1456  12/27/2015            8.6       4.4       1.7   2.9     rain         2
1457  12/28/2015            1.5       5.0       1.7   1.3     rain         2
1458  12/29/2015            0.0       7.2       0.6   2.6      fog         4
1459  12/30/2015            0.0       5.6      -1.0   3.4      sun         3
1460  12/31/2015            0.0       5.6      -2.1   3.5      sun         3

[1461 rows x 7 columns]

In [10]:
nama_cuaca = dict(zip(dataframe.prediksi.unique(), dataframe.weather.unique())) #mengembalikan nilai sesuai dengan argumen yang diberikan
nama_cuaca

{1: 'drizzle', 2: 'rain', 3: 'sun', 5: 'snow', 4: 'fog'}

In [11]:
x=dataframe.iloc[:,1:5]
y=dataframe.loc[:,'prediksi']

In [12]:
y

0       1
1       2
2       2
3       2
4       2
       ..
1456    2
1457    2
1458    4
1459    3
1460    3
Name: prediksi, Length: 1461, dtype: int32

In [13]:
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier#Untuk menggunakan KNN
from sklearn.model_selection import train_test_split #digunakan untuk proses training dan testing merupakan kumpulan data yang berbeda.

#untuk memisahkan data latih dan data test ssebesar 50%
x_train, x_test, y_test, y_train = train_test_split(x, y, test_size = 0.30, random_state=42)
#random state 42 itu buat konsisten bagi data supaya hasilnya sama dan bisa jadi ada yang bagus ataupun nggak
#testsize untuk membagi data yang di test dan di training (training min 0,5) training = 1-testsize

In [14]:
x

      precipitation  temp_max  temp_min  wind
0               0.0      12.8       5.0   4.7
1              10.9      10.6       2.8   4.5
2               0.8      11.7       7.2   2.3
3              20.3      12.2       5.6   4.7
4               1.3       8.9       2.8   6.1
...             ...       ...       ...   ...
1456            8.6       4.4       1.7   2.9
1457            1.5       5.0       1.7   1.3
1458            0.0       7.2       0.6   2.6
1459            0.0       5.6      -1.0   3.4
1460            0.0       5.6      -2.1   3.5

[1461 rows x 4 columns]

In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

#membagi data set menjadi data latih dan data uji
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30)

# Train the model
model = KNeighborsClassifier()
model.fit(x_train, y_train)

# Predict the test set results
y_pred = model.predict(x_test)

D:\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [16]:
#menampilkan berapa banyak data yang diuji dan dilatih 
print('x_train = ',x_train.shape)
print('x_test = ',x_test.shape)
print('y_train = ',y_train.shape)
print('y_test = ',y_test.shape)

x_train =  (1022, 4)
x_test =  (439, 4)
y_train =  (1022,)
y_test =  (439,)

In [17]:
x_train.head()

     precipitation  temp_max  temp_min  wind
674            2.5      13.3       7.2   3.1
727            0.0       9.4       3.3   1.3
378            0.0       2.2      -4.4   1.5
53             0.0       8.3       2.8   3.9
71            19.3       8.3       0.6   6.2

In [57]:
knn= KNeighborsClassifier(n_neighbors=7)

In [58]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [59]:
knn.score(x_test, y_test)*100

D:\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

76.5375854214123

In [60]:
#memasukkan data baru (3)
new_precipitation = input("Masukan curah hujan : ")
new_temp_max = input("Masukan Temperature Maximal : ")
new_temp_min = input("Masukan Temperature Minimal : ")
new_wind     = input("Masukan Tekanan angin       : ")

prediksi_cuaca = knn.predict([[new_precipitation,new_temp_max,new_temp_min,new_wind]])
print("Hasil Prediksi Cuaca dari data diatas adalah "+nama_cuaca[prediksi_cuaca[0]])

Masukan curah hujan : 1.3
Masukan Temperature Maximal : 10
Masukan Temperature Minimal : 3.6
Masukan Tekanan angin       : 2.5
Hasil Prediksi Cuaca dari data diatas adalah rain

D:\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
D:\anaconda3\lib\site-packages\sklearn\base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
D:\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)